body {
    background-color: rgba(226, 43, 156, 0.322);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    color: hotpink;
}

p {
    font-size: 18px;
    color: black;
}